.jumbotron {
    color: #eff7fc;
    text-shadow: 2px 1px 4px #444;
    box-shadow: 2px 1px 6px #444;
    border-radius: 10px;
    text-align: center;
    margin-top: 1%;
}
h3 {
    text-align: justify;
    margin-left: 34%;
    float: left;
    margin-right: 2%;
    
}
body .btn {
    background-color: #04961f;
    color: #eff7fc;
    margin-top: 1%;
    margin-right: 0 auto;
    box-shadow: 2px 1px 4px #444;
    font-weight: bold;
    text-shadow: 2px 1px 4px #444;
    
}
body .btn:hover {
    color: #eff7fc;
    background-color: #a3caaa;
}

.container table{
    margin: 1% auto;
    box-shadow: 2px 1px 4px #444;
}
 .container table tr, th, td {
    box-align: center;
 }